{% extends "twitSent/base.html" %}
{% load temp_functions %}
	{% block content %}
		<div id="container">
			<h3>Welcome {{userSpecs}} lets check out your twitter</h3>
			<h4> As of {% now "jS F Y H:i" %}</h4>
			<p>Average total Sentiment your feed : {{ user | all | floatformat:3}}</p>
			<p>Average total Sentiment of your tweets : {{ userData | all | floatformat:3}}</p>
		</div>
		</div>
			<a href="{% url 'oauth_unauth' %}" title="logout">logout</a>
		</div>
		<div id="container">
			<h5>Your twitter feed<h5>
			{% for users in user %}
				<p>{{users.user.name}} : {{users.text}} | {{users.user.created_at}}<p/>
				<p>Sentiment of Tweet : {{ users.text | sent | floatformat:3}}</p>
			{% endfor %}
		</div>
		<div id="container">
			<h5>What you have tweeted</h5>
			{% for users in userData %}
				<p>{{users.user.name}} : {{users.text}} | {{users.user.created_at}}<p/>
				<p>Sentiment of Tweet : {{ users.text | sent | floatformat:3}}</p>
			{% endfor %}
		</div>
			<a href="{% url 'oauth_unauth' %}" title="logout">logout</a>
		</div>
	{% endblock %}