{% extends "twitSent/base.html" %}
{% load temp_functions %}
	{% block content %}
	<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>

	<div id='main'>
		<div id="container">
			<h3>Welcome {{userSpecs}} lets check out your twitter</h3>
			<h4> As of {% now "jS F Y H:i" %}</h4>
		</div>
		<div id="container">
			<a href="{% url 'oauth_unauth' %}" title="logout">logout</a>
		</div>
		<div id="container">
			<h5>What you have tweeted</h5>
			{% for users in userData %}
				{% if users.bad != '2' %}
					<p>{{users.name}} : {{users.tweetContent}}<p/>
					<p>Sentiment of Tweet : {{ users.tweetContent | sent | floatformat:3}} {{ users.bad }}</p>
					<p><a href="{% url 'delete' pk=users.pk %}" name="delete">Delete</a></p>
				{% endif %}
			{% endfor %}
			
		</div>
		<div>
			<a href="{% url 'oauth_unauth' %}" title="logout">logout</a>
		</div>
	</div>
	{% endblock %}